body {
            background-color: #f4f7f6;
            font-family: 'Roboto', sans-serif;
        }

        .datos-usuario {
            max-width: 600px;
            margin: 40px auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .perfil-foto-contenedor {
            width: 150px;
            height: 150px;
            overflow: hidden;
            margin: 0 auto 20px auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e1e8ed;
            border: 5px solid #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .perfil-foto {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

        .datos-usuario h1 {
            font-size: 2.5em;
            font-weight: 700;
            color: #333;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .datos-usuario div {
            margin-bottom: 15px;
        }

        .datos-usuario label {
            font-weight: bold;
            color: #555;
        }

        .datos-usuario span {
            font-size: 1.1em;
            color: #777;
        }

        .btn-guardar-foto {
            margin-top: 20px;
            background-color: #285845;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .btn-guardar-foto:hover {
            background-color: #1d3b35;
        }

        .form-control-file {
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }